{% import "_includes/forms" as forms %}

<div class="calendar-event-wrapper">

    {% macro dateTimeField(event, fieldName, attribute, label, name, datePlaceholder, timePlaceholder) %}

        {% import "_includes/forms" as forms %}
        {% import "calendar/field" as calendarFields %}

        {% set input %}
            {{ calendarFields.date({
                id:          name~fieldName,
                name:        name~'['~fieldName~']',
                value:       attribute(event, attribute),
                placeholder: datePlaceholder,
            }) }}

            {{ calendarFields.time({
                id:          name~fieldName,
                name:        name~'['~fieldName~']',
                value:       attribute(event, attribute),
                placeholder: timePlaceholder,
            }) }}
        {% endset %}

        {{ forms.field({
            label:    label,
            first:    (fieldName == 'startDate'),
            errors:   event.getErrors(fieldName),
            required: true
        }, input) }}

    {% endmacro %}

    {% from _self import dateTimeField %}

    {#{{ forms.selectField({#}
        {#label: "Calendar"|t('calendar'),#}
        {#name: name~'[calendarId]',#}
        {#value: event.calendarId,#}
        {#options: calendarOptions,#}
        {#errors: event.getErrors('calendarId'),#}
        {#required: true,#}
    {#}) }}#}

    <ul class="cal-group field">
        <li class="cal-date-row" data-affected-by="all-day-toggle">
            {{ dateTimeField(event, 'startDate', 'startDate', 'Start Date'|t('calendar'), name, dateFormat, timeFormat) }}
        </li>
        <li class="cal-date-row" data-affected-by="all-day-toggle">
            {{ dateTimeField(event, 'endDate', 'endDate', 'End Date'|t('calendar'), name, dateFormat, timeFormat) }}
        </li>
        <li class="event-all-day">
            {{ forms.lightswitchField({
                label: "All Day"|t('calendar'),
                name: name~'[allDay]',
                on: event.allDay,
                errors: event.getErrors('allDay'),
            }) }}
        </li>
    </ul>

    <div class="recurrence-switch field">
        {{ forms.lightswitchField({
            label: "Repeats"|t('calendar'),
            name: name~'[repeats]',
            class: 'event-repeats',
            on: event.repeats,
            errors: event.getErrors('repeats'),
        }) }}

        <ul class="cal-group recurrence-choices">
            <li class="side-label event-interval">
                {{ forms.textField({
                    label: 'Every'|t('calendar'),
                    size: 3,
                    name: name~'[interval]',
                    value: event.interval ? event.interval : 1,
                    errors: event.getErrors('interval'),
                }) }}
            </li>
            <li class="side-label event-frequency">
                {{ forms.selectField({
                    name: name~'[frequency]',
                    value: event.frequency,
                    options: frequencyOptions,
                    errors: event.getErrors('interval'),
                }) }}
            </li>
            <li class="side-label">
                <ul class="recurrence-choices-specific">
                    <li class="recurrence-choice-monthly">
                        <label class="spaced">
                            {% set checked = event.repeatsByMonthDays or not event.repeatsByWeekDays ? ' checked' : '' %}
                            <input type="radio"
                                   name="{{ name }}[monthly][repeatsBy]"
                                    {{ checked }}
                                   value="byMonthDay">
                            {{ "Each"|t('calendar') }}
                        </label>
                        <label>
                            {% set checked = event.repeatsByWeekDays ? ' checked' : '' %}
                            <input type="radio"
                                   name="{{ name }}[monthly][repeatsBy]"
                                    {{ checked }}
                                   value="byDay">
                            {{ "On the"|t('calendar') }}
                        </label>
                        {{ forms.selectField({
                            id: 'repeatsOn',
                            name: name~'[monthly][repeatsByDayInterval]',
                            class: 'event-repeats-by',
                            value: event.repeatsOnRule,
                            options: repeatsByOptions,
                        }) }}
                    </li>
                    <li class="recurrence-choice-yearly">
                        <label>
                            <input type="checkbox"
                                   name="{{ name }}[yearly][repeatsBy]"
                                    {{ event.repeatsOnRule != 0 ? 'checked' : '' }}
                                   value="byDay">
                            {{ "On the"|t('calendar') }}
                        </label>
                        {{ forms.selectField({
                            id: 'repeatsOn',
                            name: name~'[yearly][repeatsByDayInterval]',
                            class: 'event-repeats-by',
                            value: event.repeatsOnRule,
                            options: repeatsByOptions,
                        }) }}
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="recurrence-wrapper field">
        <div class="recurrence-block field recurs-weekly">
            <div class="days">
                {{ forms.checkboxGroup({
                    id: 'repeatsByWeekDay',
                    name: name~'[weekly][repeatsByWeekDay]',
                    class: 'event-repeats-by-week-day',
                    values: event.repeatsByWeekDaysAbsolute,
                    options: weekDays,
                    errors: event.getErrors('repeatsByWeekDay')
                }) }}
            </div>
        </div>

        <div class="recurrence-block field recurs-monthly">
            <div class="days">
                {{ forms.checkboxGroup({
                    name: name~'[monthly][repeatsByWeekDay]',
                    values: event.repeatsByWeekDaysAbsolute,
                    options: weekDays,
                    errors: event.getErrors('repeatsByWeekDay')
                }) }}
            </div>
            <div class="month-days">
                {{ forms.checkboxGroup({
                    name: name~'[monthly][repeatsByMonthDay]',
                    values: event.repeatsByMonthDays,
                    options: monthDays,
                    errors: event.getErrors('repeatsByWeekDay')
                }) }}
            </div>
        </div>

        <div class="recurrence-block field recurs-yearly">
            <div class="days">
                {{ forms.checkboxGroup({
                    name: name~'[yearly][repeatsByWeekDay]',
                    values: event.repeatsByWeekDaysAbsolute,
                    options: weekDays,
                    errors: event.getErrors('repeatsByWeekDay')
                }) }}
            </div>

            <div class="months">
                {{ forms.checkboxGroup({
                    name: name~'[yearly][repeatsByMonth]',
                    values: event.repeatsByMonths,
                    options: monthNames,
                    errors: event.getErrors('repeatsByMonth')
                }) }}
            </div>
        </div>


        <div class="until-switch field">
            {{ forms.selectField({
                label: 'End repeat'|t('calendar'),
                name: name~'[untilType]',
                id: 'untilChoice',
                options: {
                    'forever': "Never ends"|t('calendar'),
                    'until': "On date"|t('calendar'),
                    'count': "After"|t('calendar')
                },
                errors: event.getErrors('untilType'),
                value: event.untilType
            }) }}
            <ul class="cal-group field">
                <li class="side-label until-count">
                    {{ forms.textField({
                        id: name~'count',
                        name: name~'[count]',
                        size: 3,
                        class: 'event-until-count',
                        value: event.count ? event.count : 1,
                        errors: event.getErrors('count'),
                        placeholder: '1',
                    }) }}

                    <label>{{ "times"|t('calendar') }}</label>
                </li>
                <li class="side-label until-date">
                    {{ forms.dateField({
                        id: name~'untilDate',
                        name: name~'[untilDate]',
                        class: 'event-until-date',
                        value: event.until,
                        errors: event.getErrors('untilDate'),
                        placeholder: dateFormat,
                    }) }}
                </li>
            </ul>
        </div>

        <div class="exception-dates-wrapper">
            {{ forms.dateField({
                label: 'Except on'|t('calendar'),
                id: name~'exceptionDate',
                name: name~'[exceptionDate]',
                class: 'event-exception-date',
                placeholder: dateFormat,
            }) }}

            <ul class="exception-list date-list"
                data-delete-confirm="{{ "Are you sure?"|t('calendar') }}">
                {% for exception in event.exceptions %}
                    <li>
                        <a></a>
                        <span>{{ exception.date|date('medium') }}</span>
                        <input type="hidden" name="{{ name }}[exceptions][]" value="{{ exception.date.format('Y-m-d') }}" />
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="select-dates-wrapper">
            {{ forms.dateField({
                label: 'On select dates'|t('calendar'),
                id: name~'selectDate',
                name: name~'[selectDate]',
                class: 'event-select-date',
                placeholder: dateFormat,
            }) }}

            <ul class="select-date-list date-list"
                data-delete-confirm="{{ "Are you sure?"|t('calendar') }}">
                {% for selectDate in event.selectDates %}
                    <li>
                        <a></a>
                        <span>{{ selectDate.date|date('medium') }}</span>
                        <input type="hidden" name="{{ name }}[selectDates][]" value="{{ selectDate.date.format('Y-m-d') }}" />
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>

</div>
