{% set ID = random() %}

<div class="calendar-mini-cal"
     id="calendar-mini-cal-{{ ID }}"
     data-calendars="{{ settings.calendars|join(',') }}"
     data-locale="{{ locale }}"
     data-overlap-threshold="{{ craft.calendar.settings.overlapThreshold }}"
     data-first-day-of-week="{{ currentUser is defined and currentUser ? currentUser.getPreference('weekStartDay') : craft.config.general.defaultWeekStartDay }}"
></div>

{% js %}
    $(function() {
        initiateMiniCal($("#calendar-mini-cal-{{ ID }}"));
    });
{% endjs %}
