{% import "_includes/forms" as forms %}


{{ forms.textField({
    label: "Title"|t('calendar'),
    instructions: "Customise the widget title. Leave blank for default."|t('calendar'),
    id: 'title',
    name: 'title',
    value: settings.title,
    errors: settings.getErrors('title')
}) }}

{{ forms.checkboxSelectField({
    label: "Calendars"|t('calendar'),
    instructions: "Which calendar entries do you wish to show?"|t('calendar'),
    id: 'calendars',
    name: 'calendars',
    showAllOption: true,
    options: calendars,
    values: settings.calendars,
    errors: settings.getErrors('calendars')
}) }}
