@use '../shared/mixins';

.preferences-wrapper {
  .row {
    @include mixins.clearfix;

    > .field {
      width: 49%;
      margin: 0 0 24px;

      &:first-child {
        float: left;
      }

      &:last-child {
        float: right;
      }
    }
  }
}
