@import '../shared/mixins';

.preferences-wrapper {
  .row {
    @include clearfix;

    > .field {
      width: 49%;
      margin: 0 0 24px;

      &:first-child {
        float: left;
      }

      &:last-child {
        float: right;
      }
    }
  }
}

.btn.install-demo-templates {
  position: absolute;
  top: -75px;
  right: 60px;
  z-index: 1000;

  background-image: linear-gradient(#8f98a3, #878f99);

  &:hover {
    background-image: linear-gradient(#8f98a3, #878f99) !important;
  }
}
