@import 'variables';
@import 'mixins';

#qtip-overlay {
  > div {
    background: rgba(255, 255, 255, 0.75) !important;
    @include opacity(1);
  }
}

.qtip {
  padding: 0;

  @include border-radius(4px);
  @include box-shadow(0 10px 100px rgba(0, 0, 0, 0.5));
  border: 1px solid transparent;

  .qtip-content {
    padding: 24px 14px 0;

    .qtip-titlebar {
      padding: 11px 14px;

      .qtip-close {
        top: 50%;
      }
    }

    div.buttons {
      margin: 24px -24px 0 !important;
      top: 10px;

      @include border-radius(0 0 6px 6px);
      @include box-shadow(inset 0 2px 1px -2px rgba(0, 0, 0, 0.2));
    }
  }
}
