@import 'mixins';

.ui-timepicker-with-duration .ui-timepicker-list {
  width: 14em;
}

.ui-datepicker-calendar {
  .ui-datepicker-unselectable {
    > span {
      display: block;
      width: 26px;

      @include border-radius(2px);

      line-height: 26px;
      text-align: center;
      color: #cdcdcd;
    }
  }
}
