{% set dateFormat = craft.app.locale.getDateFormat('short', 'php') %}
{% set timeFormat = craft.app.locale.getTimeFormat('short', 'php') %}

{% macro dateTimeField(fieldName, label, datePlaceholder, timePlaceholder) %}

    {% import "_includes/forms" as forms %}

    {% set input %}
        {{ forms.date({
            id:          fieldName,
            name:        fieldName,
            placeholder: datePlaceholder,
        }) }}

        {{ forms.time({
            id:          fieldName,
            name:        fieldName,
            placeholder: timePlaceholder,
        }) }}
    {% endset %}

    {{ forms.field({
        label:    label,
        first:    (fieldName == 'startDate'),
        required: true
    }, input) }}

{% endmacro %}

{% from _self import dateTimeField %}
{% import "_includes/forms" as forms %}

<div class="event-creator"
     data-time-interval="{{ craft.calendar.settings.timeInterval }}"
     data-event-duration="{{ craft.calendar.settings.eventDuration }}"
>
    {{ forms.textField({
        label: "Title"|t('calendar'),
        id: 'title',
        name: 'title',
        first: true,
        required: true
    }) }}

    {{ forms.selectField({
        label: "Calendar"|t('calendar'),
        name: 'calendarId',
        options: calendarOptions,
        required: true,
    }) }}

    {{ dateTimeField('startDate', 'Start Date'|t('calendar'), dateFormat, timeFormat) }}
    {{ dateTimeField('endDate', 'End Date'|t('calendar'), dateFormat, timeFormat) }}

    {{ forms.lightswitchField({
        label: "All Day"|t('calendar'),
        name: 'allDay',
        on: false,
    }) }}

    <ul class="errors"></ul>

    <div class="buttons">
        <div class="btngroup">
            <input type="submit" class="btn submit" value="{{ 'Save'|t('calendar') }}">
        </div>
        <div class="spinner hidden"></div>
    </div>
</div>
