{% extends "_layouts/elementindex" %}

{% set elementType = 'Solspace\\Calendar\\Elements\\Event' %}

{% block actionButton %}

    <div class="buttons">
        {% set calendars = craft.calendar.allowedCalendars %}
        {% if calendars|length %}
            {% if calendars|length > 1 %}
                <div class="btn submit menubtn add icon">{{ "New Event"|t('calendar') }}</div>
                <div class="menu">
                    <ul>
                        {% for calendar in calendars %}
                            <li>
                                <a href="{{ url('calendar/events/new/'~calendar.handle) }}">
                                    <span class="color-indicator" style="background-color: {{ calendar.color }};"></span>
                                    {{ calendar.name|t('calendar') }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <a class="btn submit add icon" href="{{ url('calendar/events/new/'~(calendars|first).handle|default) }}">
                    {{ "New Event"|t('calendar') }}
                </a>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
