{% extends "demo/layouts/_layout.html" %}

{% set pageTitle = "Month" %}
{% set page = "month" %}

{% block content %}

    <h1>Month View</h1>
    <p class="lead">Below is full month calendar view, which allows you to see all your event occurrences.</p>
    <hr /><br />

    {% set targetDate = "today" %}
    {% set calendarHandle = null %}
    {% if segment3 == "calendar" %}
        {% set calendarHandle = segment4 %}
        {% if segment5 %}
            {% set targetDate = segment5~"-"~segment6~"-01" %}
        {% endif %}
    {% elseif segment3 is not empty %}
        {% set targetDate = segment3~"-"~segment4~"-01" %}
    {% endif %}

    <div class="row">
        <div class="col-md-9">

            {% include "demo/layouts/_calendar_banner.html" %}

            <div id="month_calendar">
                {% set month = craft.calendar.month({
                    date: targetDate,
                    calendar: calendarHandle,
                }) %}

                <div class="row justify-content-between mb-3">
                    <div class="col-3">
                        <a class="btn btn-outline-secondary"
                           href="{{ siteUrl }}demo/month/{{ segment3 == "calendar" ? "calendar/"~segment4~"/" }}{{ month.previousDate.format('Y/m') }}">
                            <span class="fas fa-arrow-left"></span> {{ month.previousDate.format('F') }}
                        </a>
                    </div>

                    <div class="col-auto">
                        <h3>
                            {% include "demo/layouts/_month_heading.html" with {month: month} only %} &nbsp;
                            <span class="badge {{ month.eventCount ? "badge-warning" : "badge-secondary" }}">
                                {{ month.eventCount }} event{{ month.eventCount > 1 or month.eventCount == 0 ? "s" }}
                            </span>
                        </h3>
                    </div>

                    <div class="col-3 clearfix">
                        <a class="btn btn-outline-secondary float-right"
                           href="{{ siteUrl }}demo/month/{{ segment3 == "calendar" ? "calendar/"~segment4~"/" }}{{ month.nextDate.format('Y/m') }}">
                            {{ month.nextDate.format('F') }} <span class="fas fa-arrow-right"></span>
                        </a>
                    </div>
                </div>

                <table id="month_calendar_inner" class="table table-bordered">
                    <thead>
                    <tr id="days_of_week" class="active">
                        {% for day in month|first %}
                            <th class="day_of_week">
                                {{ day.date.format('l') }}
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for week in month %}
                        <tr>
                            {% for day in week %}
                                {% if month.containsDate(day.date) %}
                                <td class="day_cell{{ day.dateLocalized.isToday ? " today" }}">
                                    <div class="date{{ day.eventCount ? " has_events" }}">
                                        <a class="num"
                                           href="{{ siteUrl }}demo/day/{{ segment3 == 'calendar' ? "calendar/"~segment4~"/" }}{{ day.date.format('Y/m/d') }}">
                                            {{ day.date.format('j') }}
                                        </a>
                                    </div>
                                {% else %}
                                    <td class="day_cell out_of_range">
                                    <div class="date">
                                        <span class="num">
                                            {{ day.date.format('j') }}
                                        </span>
                                    </div>
                                {% endif %}

                                {% for event in day.events %}
                                    {% include "demo/layouts/_event.html" %}
                                {% endfor %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        <div class="col-md-3">
            {% include "demo/layouts/_sidebar.html" %}
        </div>
    </div>

{% endblock %}
