{% extends "calendar/layouts/_calendarsLayout" %}

{% set selectedSubnavItem = "calendars" %}
{% set title = "Calendar"|t %}

{% set content %}
    <div id="nocalendars"{% if calendars %} class="hidden"{% endif %}>
        <p>{{ "No calendars exist yet."|t('calendar') }}</p>
    </div>

    {% if calendars|length %}
        <table id="calendars" class="data fullwidth collapsible">
            <thead>
            <th scope="col">{{ "Name"|t('calendar') }}</th>
            <th scope="col">{{ "Handle"|t('calendar') }}</th>
            <th scope="col">{{ "Description"|t('calendar') }}</th>
            <th scope="col">{{ "ICS sharing"|t('calendar') }}</th>
            <td class="thin"></td>
            </thead>
            <tbody>
            {% for calendar in calendars %}
                <tr data-id="{{ calendar.id }}" data-name="{{ calendar.name|t }}">
                    <th scope="row" data-title="{{ 'Name'|t('calendar') }}">
                        <span class="color-indicator" style="background-color: {{ calendar.color }};"></span>
                        {% if currentUser.can("calendar-editCalendars") %}
                            <a href="{{ url('calendar/calendars/' ~ calendar.handle) }}">
                                {{ calendar.name }}
                            </a>
                        {% else %}
                            {{ calendar.name }}
                        {% endif %}
                    </th>
                    <td data-title="{{ 'Handle'|t('calendar') }}">
                        <code>
                            {{ calendar.handle }}
                        </code>
                    </td>
                    <td style="width: 50%;">
                        {{ calendar.description }}
                    </td>
                    <td style="width: 200px;">
                        {% if calendar.icsHash %}
                            <a href="javascript:;"
                               data-link="{{ calendar.icsUrl }}"
                               class="copy-ics-link btn small"
                            >
                                {{ "Copy link"|t('calendar') }}
                            </a>
                            <a href="javascript:;"
                               data-calendar-id="{{ calendar.id }}"
                               class="disable-ics btn submit small"
                            >
                                {{ "Disable ICS"|t('calendar') }}
                            </a>
                        {% else %}
                            <a href="javascript:;"
                               data-calendar-id="{{ calendar.id }}"
                               class="enable-ics btn small"
                            >
                                {{ "Share this calendar"|t('calendar') }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="thin">
                        {% if currentUser.can("calendar-deleteCalendars") %}
                            <a class="delete icon" title="{{ 'Delete'|t('calendar') }}" role="button"></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endset %}


{% js %}
    var adminTable = new Craft.AdminTable({
    tableSelector: '#calendars',
    noObjectsSelector: '#nocalendars',
    newObjectBtnSelector: '#newcalendarcontainer',
    deleteAction: 'calendar/calendars/delete',
    confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}” and all its events?"|t('calendar') }}'
    });
{% endjs %}
