.upcoming-events{width:100%;border-collapse:collapse}.upcoming-events tbody td{padding:7px 0;border-top:1px dotted #e3e5e8;border-bottom:1px dotted #e3e5e8}.upcoming-events tbody td span{color:#8f98a3 !important;font-weight:normal}
