@import '../shared/variables';
@import '../shared/mixins';
@import '../shared/alerts';
@import '../shared/qTipCraft';
@import '../shared/calendarList';
@import '../shared/fullcalendarCustom';

#qtip-overlay {
  z-index: 100 !important;
}

.qtip {
  border-radius: 6px !important;
  max-width: 1200px !important;
  z-index: 101 !important;

  &-event {
    max-width: 400px !important;
  }

  .qtip-titlebar {
    border-radius: 6px 6px 0 0;
    padding: 24px;
    border-bottom: 1px solid #dbdbdb;
    background-color: #e4edf6;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: block;

    .qtip-title {
      float: left;
      margin: 0;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.2;
    }
  }

  .qtip-content {
    padding: 24px 24px 0;

    div > label {
      font-weight: bold;
    }

    div.buttons {
      display: block;
      position: relative;
      top: 0;
      text-align: right !important;
      background: #e4edf6;
      background-image: -webkit-linear-gradient(#e4edf6, #e4edf6);
      background-image: -moz-linear-gradient(#e4edf6, #e4edf6);
      background-image: -ms-linear-gradient(#e4edf6, #e4edf6);
      background-image: -o-linear-gradient(#e4edf6, #e4edf6);
      background-image: linear-gradient(#e4edf6, #e4edf6);
      @include border-radius(0 0 6px 6px);
      @include box-shadow(inset 0 2px 1px -2px rgba(0, 0, 0, 0.2));

      padding: 11px 14px;
      margin: 24px -24px 0 !important;

      .btn {
        height: 34px;
        margin-left: 6px;
        padding: 7px 14px !important;
        font-family: HelveticaNeue, sans-serif;
        font-size: inherit;
      }

      &.create-event {
        .btn {
          margin-left: 1px;
        }
      }
    }

    div.separator {
      margin-top: 5px;
      padding-top: 5px;
      border-top: 1px dotted $dottedBorderColor;
    }
  }
}

#event-creator {
  position: absolute;
  left: -9999px;
  visibility: hidden;

  &.shown {
    position: relative;
    left: 0;
    visibility: visible;
  }

  .field {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 14px !important;
    margin-top: 14px !important;

    &.first,
    &:first-child {
      margin-top: 0 !important;
    }

    &.last,
    &:last-child {
      margin-bottom: 0 !important;
    }

    .datetimewrapper {
      display: inline-block;
    }
  }
}

#sidebar nav {
  overflow: visible;
}

.ui-datepicker {
  z-index: 102 !important;
}

.ui-timepicker-wrapper {
  z-index: 102;
}
